footer {
    position: relative;

    .icon-logo {
        position: absolute;
        left: -6px;
        top: -45px;
        width: 200px;
        height: 200px;
        transform: rotate(-10deg);

        svg {
            path {
                &:first-of-type {
                    fill: transparent;
                }
            }
        }
    }

    .icon-phone, .icon-email {
        svg {
            width: .8em;
        }
    }

    .social {
        margin-top: 0.5em;

        i {
            svg {
                height: 1.5em;
                width: 1.5em;
            }
        }
    }

    .button {
        padding: 6px 10px 4px;
    }

    .max-height {
        @include media($screen-sm) {
            box-sizing: border-box;
            max-height: 20px;
        }
    }

    @include media($max-md) {
        overflow: hidden;

        .icon-logo {
            width: 180px;
            height: 180px;

            svg {
                path {
                    // fill: map-get($yellow, dark);
                    fill: black;
                    opacity: .1;
                }
            }
        }
    }


    .footer-img {
        img {
            &:first-of-type {
                margin-right: 1.5em;
            }
        }
    }
}