.hdr-logo-link {
    display: inline;

    i {
        display: inline;

        svg {
            display: block;

            @include media($screen-xs) {}


            @include media($screen-sm) {
                width: 185px;
            }


            @include media($screen-md) {
                width: 250px;
            }


            height: auto;
        }
    }

    @include media($max-sm) {
        i {
            svg {
                height: 32px;
                width: 140px;
            }
        }
    }


    .icon-logo {
        svg {
            margin-top: 10px;
            margin-bottom: -20px;
            width: 200px;
            transform: rotate(-10deg);
        }
    }
}

header {}

.header-image {
    img {
        width: 100% !important;
    }
}