.hdr-logo-link {
    display: inline;
    -webkit-tap-highlight-color: transparent;

    i {
        display: inline;

        svg {
            display: block;

            @include media($screen-xs) {}


            @include media($screen-sm) {
                width: 185px;
            }


            @include media($screen-md) {
                width: 250px;
            }


            height: auto;
        }
    }

    @include media($max-sm) {
        i {
            svg {
                height: 27px;
                width: 115px;
            }
        }
    }


    .icon-logo {
        svg {
            margin-top: 10px;
            margin-bottom: -20px;
            width: 150px;
            transform: rotate(-10deg);

            @include media($screen-md) {
                width: 200px;
            }
        }
    }
}

.home {
    header {
        @include media($max-sm) {
            padding-top: 1em !important;
            padding-bottom: 0em !important;
        }
    }
}

.header-image {
    img {
        width: 100% !important;
    }
}

.section--home-intro {
    @include media($screen-sm) {
        margin-top: -2em;
    }
}

.home {
    @include media($max-sm) {
        .icon-logo {
            svg {
                margin-top: -20px;
                height: 80px;
                transform: rotate(-10deg);
                margin-bottom: -65px;
                width: auto;
            }
        }

        .font--headline {
            padding-top: 2em;
        }
    }
}