nav {
    ul {
        li {
            &.nav-item {
                list-style-type: none;
                display: inline;

                &:last-of-type {
                    padding: 4px 6px 2px 6px;
                }
            }
        }
    }
}