.tours {
    display: none;

    &.current {
        display: block;
    }
}

.icon-arrow-down {
    background-size: 20px;
    background-position: 95%;
}

.tourSelect {
    @include media($screen-sm) {
        width: 330px;
    }


    .choose {
        border: 0;
        border-bottom-width: 0px;
        border-bottom-style: solid;
        border-bottom-color: black;
        background-color: white;
        z-index: 2;
        position: relative;
        padding: 0.2em 0.4em 0em 0.4em;
        transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);

        &:hover {
            cursor: pointer;
        }

        i {
            width: 20px;
            height: 30px;
            display: inline-block;
            float: right;
            transform-origin: center;
            transition: transform 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
        }
    }

    .tour {
        margin: 0.2em 0.4em 0em 0.4em;
    }

    .tour {
        top: -40px;
        position: relative;
        line-height: 0;
        margin: 0;
        padding: 0;
        transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
        opacity: 0;

        &:hover {
            background-color: $gray;
            cursor: pointer;
        }
    }

    &.open {
        .tour {
            transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
            top: inherit;
            line-height: 1.6;
            opacity: 1;
            padding: .6em .5em 0em .5em;

            &:after {
                content: ' ';
                display: block;
                margin-top: .4em;
                border-bottom: 2px solid;
            }

            &:last-of-type {
                padding-bottom: .4em;

                &:after {
                    display: none;
                }
            }
        }

        .choose {
            border-bottom-width: 7px;
            transition: border-bottom-width 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);

            i {
                transition: transform 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
                transform: rotate(180deg);
            }
        }
    }
}