.bg--blue {
    background-color: map-get($blue, main);
    color: map-get($yellow, main);
}

.bg--green {
    background-color: map-get($green, main);
}

.bg--yellow {
    background-color: map-get($yellow, main);
}

.bg--black {}

.bg--gray-faded {
    background-color: $gray-faded;
}

.bg--white {
    background-color: white;

    a {
        color: map-get($blue, main);
    }
}

.bg--image {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;

    &.cover {
        background-size: cover;
    }

    &.contain {
        background-size: contain;
    }

    &.overlay {
        &:before {
            content: ' ';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 0;
            background-color: transparentize(black, 0.7);
            transition: background-color 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
        }
    }
}

a {
    &.overlay {
        &:hover {
            cursor: pointer;

            &:before {
                transition: background-color 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
            }
        }

        &:nth-of-type(1) {
            &:hover {
                &:before {
                    background-color: map-get($blue, main);
                }
            }
        }

        &:nth-of-type(2) {
            &:hover {
                &:before {
                    background-color: map-get($green, main);
                }
            }
        }

        &:nth-of-type(3) {
            &:hover {
                &:before {
                    background-color: map-get($yellow, dark);
                }
            }
        }

        &:nth-of-type(4) {
            &:hover {
                &:before {
                    background-color: map-get($red, main);
                }
            }
        }

        &:nth-of-type(5) {
            &:hover {
                &:before {
                    background-color: map-get($blue, main);
                }
            }
        }

        &:nth-of-type(6) {
            &:hover {
                &:before {
                    background-color: map-get($green, main);
                }
            }
        }

        &:nth-of-type(7) {
            &:hover {
                &:before {
                    background-color: map-get($yellow, dark);
                }
            }
        }

        &:nth-of-type(8) {
            &:hover {
                &:before {
                    background-color: map-get($red, main);
                }
            }
        }

        &:nth-of-type(9) {
            &:hover {
                &:before {
                    background-color: map-get($blue, main);
                }
            }
        }

        &:nth-of-type(10) {
            &:hover {
                &:before {
                    background-color: map-get($green, main);
                }
            }
        }

        &:nth-of-type(11) {
            &:hover {
                &:before {
                    background-color: map-get($yellow, dark);
                }
            }
        }

        &:nth-of-type(12) {
            &:hover {
                &:before {
                    background-color: map-get($red, main);
                }
            }
        }
    }
}

.bg--transparent {
    background-color: transparent;
}