.border--1 {
    border: 1px solid;
}

.border--2 {
    border: 2px solid;
}

.border--3 {
    border: 3px solid;
}

.border--4 {
    border: 7px solid;

    &.edges {
        &:nth-of-type(odd) {
            border-left: 0;
        }

        &:nth-of-type(even) {
            border-right: 0;
        }

        @include media($max-sm) {
            border-left: 0;
            border-right: 0;
        }


        h2 {
            max-width: 80%;
        }
    }
}

.border--vert-thick {
    @include media($screen-sm) {
        border-top: 10px solid white;
        border-bottom: 10px solid white;
    }
}

.border--top-thick {
    border-top: 10px solid white;
}