.color--blue {
    color: map-get($blue, main) !important;
}

.color--green {
    color: map-get($green, main) !important;
}

.color--yellow {
    color: map-get($yellow, main) !important;
}

.color--black {
    color: black !important;
}

.color--white {
    color: white !important;
}

.color--gray {
    color: $gray !important;
}