.font--thin {
    font-weight: 100 !important;
}

.font--semi-bold {
    font-weight: 500 !important;
}

.font--italic {
    font-style: italic;
}

.font--normal {
    font-style: normal !important;
}

.font--smaller {
    font-size: 1rem;
}

.font--even-smaller {
    font-size: .9rem;
}

.font--larger {
    font-size: 1.4rem;
}

.font--headline {
    @include media($screen-sm) {
        font-size: 2rem;
    }
}

.letter--1 {
    letter-spacing: 1px;
}

.text--center {
    text-align: center !important;
}

.text--right {
    text-align: right !important;
}

.text--uppercase {
    text-transform: uppercase !important;
}

.text--lowercase {
    text-transform: lowercase !important;
}

.text--capitalize {
    text-transform: capitalize !important;
}

h1, h2, h3, h4, h5, h6 {
    &.border {
        z-index: 1;
        display: table;
        margin: 0 auto;
        line-height: 1;
        border: 5px solid;
        padding: 7px 0.5em 3px 0.5em;

        @include media($screen-sm) {
            border: 9px solid;
            padding: 5px 0.3em 0 0.3em;
        }
    }
}