.flex {
    display: flex !important;
}

.flex--dsk {
    @include media($screen-sm) {
        display: flex;
    }
}

.block {
    display: block;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex--column {
    flex-direction: column;
}

.flex--dsk-column {
    @include media($screen-md) {
        flex-direction: column;
    }
}

.justify--between {
    justify-content: space-between;
}

.justify--around {
    justify-content: space-around;
}

.justify--center {
    justify-content: center;
}

.justify--end {
    justify-content: flex-end;
}

.align--between {
    align-content: space-between;
}

.align--center {
    align-items: center;
}

.align--start {
    align-items: flex-start;
}

.align--stretch {
    align-items: stretch;
}

.align--end {
    align-items: flex-end;
}

.align--baseline {
    align-items: baseline;
}

.float--right {
    float: right;
}

.float--left {
    float: left;
}

.display--center {
    margin: 0 auto;
    display: table;
}

.margin--center {
    margin: 0 auto;
}

.nomar {
    margin: 0;
}

.grid--one {
    box-sizing: border-box;
    max-width: 100%;
    flex-basis: 100%;
    width: 100%;
}

.grid--half {
    box-sizing: border-box;
    max-width: 48.5%;
    flex-basis: 48.5%;
    width: 48.5%;

    &.nog {
        box-sizing: border-box;
        max-width: 50%;
        flex-basis: 50%;
        width: 50%;
    }
}

.grid--third {
    box-sizing: border-box;
    max-width: 31.733%;
    flex-basis: 31.733%;
    width: 31.733%;

    &.nog {
        box-sizing: border-box;
        max-width: 33.333%;
        flex-basis: 33.333%;
        width: 33.333%;
    }
}

.grid--fourth {
    box-sizing: border-box;
    max-width: 23.8%;
    flex-basis: 23.8%;
    width: 23.8%;

    &.nog {
        box-sizing: border-box;
        max-width: 25%;
        flex-basis: 25%;
        width: 25%;
    }
}

.grid--fifth {
    box-sizing: border-box;
    max-width: 19.04%;
    flex-basis: 19.04%;
    width: 19.04%;

    &.nog {
        box-sizing: border-box;
        max-width: 20%;
        flex-basis: 20%;
        width: 20%;
    }
}

.grid--two-thirds {
    box-sizing: border-box;
    max-width: 63.466%;
    flex-basis: 63.466%;
    width: 63.466%;
}

@include media($screen-xs) {
    .grid--xs-half {
        box-sizing: border-box;
        max-width: 48.5%;
        flex-basis: 48.5%;
        width: 48.5%;

        &.nog {
            box-sizing: border-box;
            max-width: 50%;
            flex-basis: 50%;
            width: 50%;
        }
    }

    .grid--xs-third {
        box-sizing: border-box;
        max-width: 31.733%;
        flex-basis: 31.733%;
        width: 31.733%;

        &.nog {
            box-sizing: border-box;
            max-width: 33.333%;
            flex-basis: 33.333%;
            width: 33.333%;
        }
    }

    .grid--xs-two-thirds {
        box-sizing: border-box;
        max-width: 63.466%;
        flex-basis: 63.466%;
        width: 63.466%;

        &.nog {
            box-sizing: border-box;
            max-width: 66.66%;
            flex-basis: 66.66%;
            width: 66.66%;
        }
    }

    .grid--xs-fourth {
        box-sizing: border-box;
        max-width: 23.8%;
        flex-basis: 23.8%;
        width: 23.8%;

        &.nog {
            box-sizing: border-box;
            max-width: 25%;
            flex-basis: 25%;
            width: 25%;
        }
    }

    .grid--xs-fifth {
        box-sizing: border-box;
        max-width: 19.04%;
        flex-basis: 19.04%;
        width: 19.04%;

        &.nog {
            box-sizing: border-box;
            max-width: 20%;
            flex-basis: 20%;
            width: 20%;
        }
    }
}


@include media($screen-sm) {
    .grid--sm-two-thirds {
        box-sizing: border-box;
        max-width: 63.466%;
        flex-basis: 63.466%;
        width: 63.466%;

        &.nog {
            box-sizing: border-box;
            max-width: 66.66%;
            flex-basis: 66.66%;
            width: 66.66%;
        }
    }

    .grid--sm-half {
        box-sizing: border-box;
        max-width: 48.5%;
        flex-basis: 48.5%;
        width: 48.5%;

        &.nog {
            box-sizing: border-box;
            max-width: 50%;
            flex-basis: 50%;
            width: 50%;
        }
    }

    .grid--sm-third {
        box-sizing: border-box;
        max-width: 33.333%;
        flex-basis: 33.333%;
        width: 33.333%;

        &.nog {
            box-sizing: border-box;
            max-width: 33.333%;
            flex-basis: 33.333%;
            width: 33.333%;
        }
    }

    .grid--sm-two-thirds {
        box-sizing: border-box;
        max-width: 63.466%;
        flex-basis: 63.466%;
        width: 63.466%;

        &.nog {
            box-sizing: border-box;
            max-width: 66.66%;
            flex-basis: 66.66%;
            width: 66.66%;
        }
    }

    .grid--sm-fourth {
        box-sizing: border-box;
        max-width: 23.8%;
        flex-basis: 23.8%;
        width: 23.8%;

        &.nog {
            box-sizing: border-box;
            max-width: 25%;
            flex-basis: 25%;
            width: 25%;
        }
    }

    .grid--sm-fifth {
        box-sizing: border-box;
        max-width: 19.04%;
        flex-basis: 19.04%;
        width: 19.04%;

        &.nog {
            box-sizing: border-box;
            max-width: 20%;
            flex-basis: 20%;
            width: 20%;
        }
    }

    .grid--sm-three-fourths {
        box-sizing: border-box;
        max-width: 71.401%;
        flex-basis: 71.401%;
        width: 71.401%;
    }
}


@include media($screen-md) {
    .grid--md-one {
        box-sizing: border-box;
        max-width: 100%;
        flex-basis: 100%;
        width: 100%;
    }

    .grid--md-two-thirds {
        box-sizing: border-box;
        max-width: 63.466%;
        flex-basis: 63.466%;
        width: 63.466%;

        &.nog {
            box-sizing: border-box;
            max-width: 66.66%;
            flex-basis: 66.66%;
            width: 66.66%;
        }
    }

    .grid--md-half {
        box-sizing: border-box;
        max-width: 48.5%;
        flex-basis: 48.5%;
        width: 48.5%;

        &.nog {
            box-sizing: border-box;
            max-width: 50%;
            flex-basis: 50%;
            width: 50%;
        }
    }

    .grid--md-third {
        box-sizing: border-box;
        max-width: 31.733%;
        flex-basis: 31.733%;
        width: 31.733%;

        &.nog {
            box-sizing: border-box;
            max-width: 33.333%;
            flex-basis: 33.333%;
            width: 33.333%;
        }
    }

    .grid--md-two-thirds {
        box-sizing: border-box;
        max-width: 65.866%;
        flex-basis: 65.866%;
        width: 65.866%;

        &.nog {
            box-sizing: border-box;
            max-width: 66.66%;
            flex-basis: 66.66%;
            width: 66.66%;
        }
    }

    .grid--md-fourth {
        box-sizing: border-box;
        max-width: 23.8%;
        flex-basis: 23.8%;
        width: 23.8%;

        &.nog {
            box-sizing: border-box;
            max-width: 25%;
            flex-basis: 25%;
            width: 25%;
        }
    }

    .grid--md-fifth {
        box-sizing: border-box;
        max-width: 19.04%;
        flex-basis: 19.04%;
        width: 19.04%;

        &.nog {
            box-sizing: border-box;
            max-width: 20%;
            flex-basis: 20%;
            width: 20%;
        }
    }

    .grid--md-two-fifths {
        box-sizing: border-box;
        max-width: 40%;
        flex-basis: 40%;
        width: 40%;

        &.nog {
            box-sizing: border-box;
            max-width: 40%;
            flex-basis: 40%;
            width: 40%;
        }
    }
}


@include media($screen-lg) {
    .grid--lg-fifth {
        box-sizing: border-box;
        max-width: 19.04%;
        flex-basis: 19.04%;
        width: 19.04%;

        &.nog {
            box-sizing: border-box;
            max-width: 20%;
            flex-basis: 20%;
            width: 20%;
        }
    }
}


.max-wrap {
    @include media($screen-xs) {}


    @include media($screen-sm) {
        max-width: map-get($max-width, sm);
    }


    @include media($screen-md) {
        max-width: 80vw;
    }


    @include media($screen-lg) {}


    @include media($screen-xl) {}


    margin-left: auto;
    margin-right: auto;
}