.icon-tomato {
    svg {
        width: 2em;
        fill: map-get($yellow, main);
    }
}

.icon-email, .icon-phone {
    margin-right: 0.4em;
}
.icon-logo{
	svg{
		path{
			&:first-of-type{
				fill: transparent;
			}
			
		}
	}
}
.icon-social--facebook, .icon-social--twitter, .icon-social--pinterest{
	svg{
		path{
			&:last-of-type{
				fill: map-get($yellow, main) !important;
			}
		}
	}
}