{% block html_head_container %}
	{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
</head>
{% endblock %}
<body class="{{body_class}}" data-template="base.twig">
{% block header %}
	<header class="header bg--yellow flex flex-wrap justify--between spacing--gutter spacing--vert-1 font--semi-bold">
		<a class="hdr-logo-link" href="/" rel="home">
		{% if post.post_name == 'home'  %}
			<i class="icon-logo mobile--hide" data-grunticon-embed></i>
			<i class="icon-logo-horiz dsk--hide" data-grunticon-embed></i>
		{% else %}
			<i class="icon-logo-horiz" data-grunticon-embed></i>
		{% endif %}
		</a>
		<div class="flex flex-wrap align--end flex--column">
			{% include 'components/sections/section--social.twig' %}
			{% include 'components/navigation.twig' %}
		</div>
		<label class="trigger--nav dsk--hide">
			<span></span>
			<hr>
			<span></span>
		</label>
		{% if post.post_name == 'home'  %}
		<div class="grid--one spacing--dsk-vert-5 spacing--vert-2 spacing--gutter flex justify--center">
			<div class="grid--md-two-thirds font--headline text--center">
				Join us, as we explore the restaurants, chefs, architecture and history that make our region an amazing culinary destination.
			</div>
		</div>
	{% endif %}
	{% endblock %}
</header>
<main role="main" class="content-wrapper">
{% if title %}<h1>{{title}}</h1>{% endif %}
{% block content %}
	Sorry, no content
{% endblock %}
</main>
{% block footer %}
	<footer class="bg--yellow  spacing--dsk-horiz-6">
		<i class="icon-logo" data-grunticon-embed></i>
		{% include 'footer.twig' %}
	</footer>
	{{ function('wp_footer') }}
{% endblock %}
</body>
</html>