{% block html_head_container %}
	{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
</head>
{% endblock %}
<body class="{{body_class}}" data-template="base.twig">
	{% block header %}<header class="header bg--yellow flex flex--wrap justify--between spacing--gutter spacing--vert-1">

		<a class="hdr-logo-link" href="/" rel="home">
		<i class="icon-logo-horiz" data-grunticon-embed></i>
		</a>
		{% include 'components/navigation.twig' %}
	{% endblock %}
</header>
<main role="main" class="content-wrapper">
	{% if title %}<h1>{{title}}</h1>{% endif %}
		{% block content %}
			Sorry, no content
		{% endblock %}

</main>
{% block footer %}
	<footer>
		{% include 'footer.twig' %}
	</footer>
	{{ function('wp_footer') }}
{% endblock %}
</body>
</html>